



  <div class="container">    
    <div class="row"> 
    <div class="span1"></div>     
      <div class="span8">

        <section id="home">
          
            <h1>Raffaele Bua</h1>
          
          <h5>Software Developer</h5> 
        <p>
         <a href="http://it.linkedin.com/pub/raffaele-bua/24/201/201" target="_blank"><i class="icon-chevron-right"></i> Linkedin</a>|<a href="https://github.com/buele" target="_blank"><i class="icon-chevron-right"></i> Github</a>
              |<a href="http://codrspace.com/buele/" target="_blank"><i class="icon-chevron-right"></i> Blog</a>
              
            
        </p>
        </section>
      </div>
      
    </div>
  </div>